{% extends "padre_chat.html" %}

{% load static %}

{% block barra_menu %}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'cuentas' %}">Cuentas</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'beneficios' %}">Beneficios</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'prestamos' %}">Prestamos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'seguros' %}">Seguros</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'tarjetas' %}">Tarjetas</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Atención al cliente</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                <li><a class="dropdown-item" href="{% url 'centro_de_ayuda' %}">Centro de ayuda</a></li>
                <li><a class="dropdown-item" href="{% url 'preguntas_frecuentes' %}">Preguntas frecuentes</a></li>
            </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'inbox' %}">Chat</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cuenta</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                {% if user.is_authenticated %}
                Hola {{user}}  
                <img height="50px" src="{{ avatar }}" alt="">
                {% endif %}
                {% if user.is_superuser %} 
                <li><a class="dropdown-item" href="{% url 'crear_empleado' %}">Crear empleado</a></li>
                {% elif user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'crear_transferencia_bancaria' %}">Transferencia bancaria</a></li>
                <li><a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'agregar_dinero' %}">Agregar dinero</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Ingresar cuenta</a></li>
                <li><a class="dropdown-item" href="{% url 'register' %}">Crear usuario</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Bienvenido {{user}} a tus chats!</h2></div>          


{% for inbox in inbox %}
<div class = "div_inbox">
    {% for second_user in inbox.canal_usuario_set.all %}

        {% if second_user.usuario == request.user %}

        {% else %}
            <a href="{% url 'Detail_mensajes' second_user.usuario.username %}">
                <p>
                    {{second_user.usuario}}
                </p>
            </a>
        {% endif %}
        
    {% endfor %}

    {% if inbox.canal_mensaje_set.count != 0 %}
    <div class = "div_ms_inbox">
        {% with ultimo_mensaje=inbox.canal_mensaje_set.last %}
        <p>
            Mensaje: {{ultimo_mensaje.texto}}  
        </p>
        {% endwith %}
    </div>

    {% else %}
    <p>
        No hay mensajes con este usuario
    </p>

    {% endif %}
</div>

{% empty %}

<h2>
    Inbox Vacio
</h2>
{% endfor %}

<aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
    <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
        <div class="mb-4 mb-xl-0">
            <div class="fs-3 fw-bold text-white">Nuevo chat</div>
        </div>
        <div class="ms-xl-4">
            <div class="input-group mb-2">
                <a class="btn btn-outline-light" href="{% url 'usuarios_chatear' %}" role="button">Elegir con quien chatear</a>
            </div>
        </div>
    </div>
</aside>
</div>
</section>
</main>

{% else %}

    <h3>Necesitas iniciar sesión para poder chatear. Si no tenés una cuenta, registrate!</h3>
    <a class="button" href="{% url 'login' %}" role="button">Iniciar sesión</a>
    <a class="button" href="{% url 'register' %}" role="button">Registrarse</a>
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <div class="text-center">
                        <h2 class="fw-bolder">Nuestro servicio</h2>
                        <p class="lead fw-normal text-muted mb-5">Te mostramos algunos de nuestros beneficios especiales para nuestros clientes.</p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="{% static 'assets/persona_computadora_1.jpg' %}" alt="..." />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="{% url 'prestamos' %}"><h5 class="card-title mb-3">Prestamos</h5></a>
                            <p class="card-text mb-0">Podes conseguir prestamos de hasta $100.000 pesos dependiendo de tu nivel de socio</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="{% static 'assets/persona_computadora_2.jpg' %}" alt="..." />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="{% url 'seguros' %}"><h5 class="card-title mb-3">Seguros</h5></a>
                            <p class="card-text mb-0">Ofrecemos una gran variedad de seguros para nuestros clientes.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-5">
                    <div class="card h-100 shadow border-0">
                        <img class="card-img-top" src="{% static 'assets/persona_computadora_3.jpg' %}" alt="..." />
                        <div class="card-body p-4">
                            <a class="text-decoration-none link-dark stretched-link" href="{% url 'cuentas' %}"><h5 class="card-title mb-3">Cuentas</h5></a>
                            <p class="card-text mb-0">Te mostramos los distintos planes de cuentas que podes conseguir.</p>
                        </div>
                        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                            <div class="d-flex align-items-end justify-content-between">
                                <div class="d-flex align-items-center">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Call to action-->
            <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
                <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
                    <div class="mb-4 mb-xl-0">
                        <div class="fs-3 fw-bold text-white">Hacete socio de nuestro banco.</div>
                        <div class="text-white-50">Crea una cuenta y empeza a disfrutar de todos los beneficios que tenemos para brindarte</div>
                    </div>
                    <div class="ms-xl-4">
                        <div class="input-group mb-2">
                            <a class="btn btn-outline-light" href="{% url 'register' %}" role="button">Crear usuario</a>
                        </div>
                        <div class="small text-white-50">Nos importa tu privacidad y nunca compartiremos tus datos personales.</div>
                    </div>
                </div>
            </aside>
        </div>
    </section>
</main>
<!-- Footer-->
<footer class="bg-dark py-4 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; BancoCoderHouse 2022</div></div>
            <div class="col-auto">
                <a class="link-light small" href="{% url 'paginaenconstruccion' %}">privacidad</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="{% url 'paginaenconstruccion' %}">Terminos y condiciones</a>
                <span class="text-white mx-1">&middot;</span>
                <a class="link-light small" href="{% url 'paginaenconstruccion' %}">Contactos</a>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>

</body>
</html>
{% endif %}

<style>
    .div_inbox{
        width: 90%;
        margin: 10px auto;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        padding: 5px;
    }
    .button{
        background-color: #0640ff; 
        border: 2px solid #fafafa;
        border-radius: 4px;
        color: white;
        width: 45%;
        
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
    }
    .button:hover {
  background-color: white; 
  color: #0640ff;
}
</style>
{% endblock %}