<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Modern Business - Start Bootstrap Template</title>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
            h1, h2, h3, p, small{
                font-family: 'Roboto', sans-serif;
            }
            .div_main{
                width: 70%;
                margin: 50px auto;
            }
        </style>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="{% url 'inicio' %}">BANCO CODERHOUSE</a> 
                    {% block barra_menu %}
                    
                    {% endblock %}
                    </div>
                </div>
            </nav>
        <div class="div_main">
            {% block body %}
        
            {% endblock %}
        </div>
            <!-- hasta aca -->
        </main>
    </body>
</html>