{% extends "padre.html" %}

{% load static %}

{% block barra_menu %}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'cuentas' %}">Cuentas</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'beneficios' %}">Beneficios</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'prestamos' %}">Prestamos</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'seguros' %}">Seguros</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'tarjetas' %}">Tarjetas</a></li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Atención al cliente</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                <li><a class="dropdown-item" href="{% url 'centro_de_ayuda' %}">Centro de ayuda</a></li>
                <li><a class="dropdown-item" href="{% url 'preguntas_frecuentes' %}">Preguntas frecuentes</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Cuenta</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                {% if user.is_authenticated %}
                Hola {{user}}  
                <img height="50px" src="{{ avatar }}" alt="">
                {% endif %}
                {% if user.is_superuser %} 
                <li><a class="dropdown-item" href="{% url 'crear_empleado' %}">Crear empleado</a></li>
                {% elif user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'crear_transferencia_bancaria' %}">Transferencia bancaria</a></li>
                <li><a class="dropdown-item" href="{% url 'perfil' %}">Perfil</a></li>
                <li><a class="dropdown-item" href="{% url 'agregar_dinero' %}">Agregar dinero</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'login' %}">Ingresar cuenta</a></li>
                <li><a class="dropdown-item" href="{% url 'register' %}">Crear usuario</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
{% endblock %}

{% block titulo %}
    <h1 class="display-5 fw-bolder text-white mb-2">PREGUNTAS FRECUENTES</h1>
{% endblock %}

{% block oración_abajo_titulo %}
    <p class="lead fw-normal text-white-50 mb-4">DESPEJA TODAS TUS DUDAS!</p>
{% endblock %}

{% block imagen_1 %}
<div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-5" src="{% static 'assets/retrato-hombre-sonriente-trabajando-casa_329181-641.webp' %}" alt="..." /></div>
{% endblock %}

{% block parrafo_1 %}
    <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Preguntas mas frecuentes</h2></div>          
{% endblock %}

{% block parrafo_2 %}
<div class="col-lg-8">
    <div class="row gx-5 row-cols-1 row-cols-md-2">
        <div class="col mb-5 h-100">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle-fill"></i></div>
            <h2 class="h5">Quienes pueden ser parte del Banco CoderHouse?</h2>
            <p class="mb-0">Todas las personas mayores de 18 años pueden ser clientes del Banco CoderHouse</p>
        </div>
        <div class="col mb-5 h-100">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle-fill"></i></div>
            <h2 class="h5">Cuanto tarda en verse acreditada una transferencia?</h2>
            <p class="mb-0">El plazo para ver acreditado el dinero puede variar segun el banco mediante el cual se realizo la transferencia</p>
        </div>
        <div class="col mb-5 mb-md-0 h-100">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle-fill"></i></div>
            <h2 class="h5">Se realizo un debito que desconozco, que hago?</h2>
            <p class="mb-0">Puede comunicarse por cualquier de nuestro canales de atencion al cliente, y resolveremos el inconveniente!</p>
        </div>
        <div class="col h-100">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-question-circle-fill"></i></div>
            <h2 class="h5">Puedo darme de baja en cualquier momento?</h2>
            <p class="mb-0">Claro! Tan solo hace falta completar el formuario on-line y dejara de ser cliente de Banco CoderHouse</p>
        </div>
    </div>
</div>             
{% endblock %}
